@charset "UTF-8";

/* 색상변경 */

.post-body h2 {
    border-left: 10px solid #eb5a14; 
    border-bottom: 2px solid #eb5a14;
	background-color:#ffdfcf;
}


.post-body h3 {.
	background-color:#fafafa;
    border-bottom: 2px solid #eb5a14;
}
