/* 색상변경 */

.post-body h2 {
    border-left: 10px solid #eb5a14 !important; 
    border-bottom: 2px solid #eb5a14 !important;
	background-color:#ffdfcf !important;
}


.post-body h3 {
	background-color:#fafafa !important;
    border-bottom: 2px solid #eb5a14 !important;
}



