/* 색상변경 */

/* h2 제목 꾸미기 */
.post-body h2 {
BORDER-LEFT: #eb5a14 10px solid;
BACKGROUND-COLOR: #ffdfcf;
BORDER-BOTTOM: 2px solid #eb5a14;                       
}

/* h3 제목 꾸미기 */
.post-body h3 {
BACKGROUND-COLOR: #fafafa;
BORDER-BOTTOM: 2px solid #eb5a14;                        
}



